{% extends "informations/base.html" %}
{% load static %}

{% block title%} Activités{% endblock %}


{% block header %} 
<h1> <i class="fa fa-star fa-spin"></i> Activités </h1>
{% endblock %}

{% block content%}
<div class="container">
<div id='contenuPrincipal' class="col-sm-8 col-md-offset-2 text-center">
		<h2> ACTIVITÉS </h2>
		<hr/>
		<div class="row">
        	<div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/activites et soiree/foot bulle.jpg' %}" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Foot bulle</b></h3>
        	</div>
        	<div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/activites et soiree/ping pong.jpg' %}" class='img-responsive'/></center>
	        	<h3 class='text-center'><b> Ping pong</b></h3>
        	</div>
        </div>

        <div class="row">
        <div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/activites et soiree/fifa geant.jpg' %}" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Fifa géant</b></h3>
        	</div>
       	<div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/activites et soiree/mur a scratch.jpg' %}" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Mur à Scratch</b></h3>
        	</div>
        </div>

        <div class="row">
        	<div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/activites et soiree/slackline.jpg' %}" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Slackline</b></h3>
        	</div>
        	<div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/activites et soiree/tir a larc.jpg' %}" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Tir à l'arc</b></h3>
        </div>
        </div>
        <div class="row">
        	<div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/activites et soiree/vitesse de frappe.jpg' %}" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Vitesse de Frappe</b></h3>
        	</div>
        	<div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/activites et soiree/jongle foot.jpg' %}" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Concours de jongles</b></h3>
        	</div>
        </div>

</div>
 <div class="col-sm-12">      			
<h2> A Venir </h2> </div>

</div>
{% endblock %}