<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}TIFOSS{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../static/bootstrap/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            {% block nav %}
            <div class="navbar-header page-scroll">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                    <span class="sr-only">Toggle navigation</span> TIFOSS 2017 <i class="fa fa-bars"></i>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navigationbar" >
                    <ul class="nav navbar-nav ">
                        <li class="dropdown">
                            <a href="/">TIF<i class="fa fa-futbol-o" aria-hidden="true"></i>SS</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" aria-haspopup="true" data-toggle="dropdown">TIFOSS 2017
                            <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                            <li><a href="/informations/planning" id="menuliste">Planning</a></li>
                            <li><a href="/informations/partenariats" id="menuliste">Partenariats</a></li>
                            <li><a href="/informations/leMotDuDirecteur" id="menuliste">Le mot du directeur</a></li>
                            <li><a href="/informations/teaser" id="menuliste">Teaser</a></li>
                            </ul></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" aria-haspopup="true" data-toggle="dropdown">Informations
                            <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                            <li><a href="/informations/commentSYRendre" id="menuliste">Comment s'y rendre</a></li>
                            <li><a href="/informations/reglement" id="menuliste">Règlement</a></li>
                            <li><a href="/informations/contacts" id="menuliste">Contacts</a></li>
                            <li><a href="/informations/tarifs" id="menuliste">Tarifs</a></li>
                            </ul></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" aria-haspopup="true" data-toggle="dropdown">Soirée et Activités
                            <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                            <li><a href="/informations/soiree" id="menuliste">Soirée</a></li>
                            <li><a href="/informations/activites" id="menuliste">Activités</a></li>
                            </ul></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" aria-haspopup="true" data-toggle="dropdown">Editions précédentes
                            <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                            <li><a href="/informations/galeriePhotos" id="menuliste">Galerie Photos</a></li>
                            <li><a href="/informations/palmares" id="menuliste">Palmarès</a></li>
                            </ul></li>
                        <li class="dropdown">
                            <a href="/informations/participer/"><span class="glyphicon glyphicon-user"></span> Participer</a>
                            </li>
                    </ul>
                </div>

                
            </div>
            <!-- /.navbar-collapse -->
            {% endblock %}
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
            {% block header %}
            {% endblock%}
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock%}


    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Adresse</h3>
              <p> CentraleSupélec 
              <br>2, Rue Edouard Belin
                <br>METZ 57070</p>
            </div>
            <div class="footer-col col-md-4">
              <h3>Page FB du TIFOSS</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="https://www.facebook.com/tifoss2017/">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3>Page FB du BDS</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="https://www.facebook.com/BdsSupelecMetz/">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; 2017 Jules BRUNEL & Kevin ZHOU. Tous droits réservés.  
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- jQuery -->
    <script src="../static/bootstrap/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/bootstrap/js/jqBootstrapValidation.js"></script>
    <script src="../static/bootstrap/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/bootstrap/js/freelancer.min.js"></script>
    

</body>

</html>
