{% extends "informations/base.html" %}
{% load static %}

{% block title%}Contacts{% endblock %}


{% block header %}
<h1> <i class="fa fa-address-book" aria-hidden="true"></i>
Contacts d'urgence </h1>
{% endblock %} 


{% block content %}
<br />
<div class="container">
<div class="table-responsive col-md-12">
  <table class="table table-hover table-bordered ">
  	<thead> 
  		<tr>
  			<th class="text-center">Nom </th>
  			<th class="text-center">Numéro/Mail </th>
  		</tr>
  	</thead>
  	<tbody>
      <tr>
        <td class="text-center"> BDS</td>
        <td class="text-center"> bds.csmetz@gmail.com </td>
      </tr>

  		<tr>
  			<td class="text-center"> Jules Brunel, Prez </td>
  			<td class="text-center"> 06 18 08 31 72 / jules.brunel@supelec.fr</td>
  		</tr>
  		<tr>
  			<td class="text-center"> Théo Ouadguiri, Respo TIFOSS</td>
  			<td class="text-center"> 06 37 32 74 85 / theo.ouadghiri@supelec.fr</td>
  		</tr>
      <tr>
        <td class="text-center"> Kevin Zhou, Respo TIFOSS</td>
        <td class="text-center"> 06 95 07 37 35 / kevin.zhou@supelec.fr</td>
      </tr>
      <tr>
        <td class="text-center"> Mohammed Taik, Respo TIFOSS</td>
        <td class="text-center"> 06 64 41 89 15 / mohammed.taik@supelec.fr</td>
      </tr>
  		
  	</tbody>
  </table>
</div> 
</div>



{% endblock %}


