{% extends "informations/base.html" %}

{% load static %}

{% block header %}
<h2>Bienvenue !</h2>
	<h3>Site officiel du TIF<i class="fa fa-futbol-o fa-spin fa" aria-hidden="true"></i>SS <br/> </h3> <p> <i>Tournoi International de Foot en Salle de Supélec </i> </p>
   	<br/> <br/>

    <p><strong>Les equipes inscrites:</strong></p>
    {% for equipe in equipes %}
    	<li>{{equipe.ecole}} : {{equipe.nom}}</li>
	{% endfor %}

	
 {% endblock %} 
{% block content %}
   
 <img src="{% static 'informations/imageTifoss.jpg' %}" class="img-responsive" alt="Mon image" />

{% endblock %}



 
