{% extends "informations/base.html" %}
{% load static %}

{% block title%} Palmares{% endblock %}



{% block header %} 
<h1><i class="fa fa-trophy" aria-hidden="true"></i> Palmarès
</h1>

{% endblock %}


{% block content%}
<br/>

<div class="container">
<h3> Masculin </h3> <br/>
<div class="table-responsive col-md-12">
  <table class="table table-hover table-bordered ">
  	<thead> 
  		<tr>
  			<th class="text-center">Edition</th>
  			<th class="text-center">Premier </th>
  			<th class="text-center">Deuxième </th>
  			<th class="text-center">Troisième</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="text-center"> 30 ème édition TIFOSS 2016 </td>
  			<td class="text-center"> ESTP 1 </td>
  			<td class="text-center"> ENSIAME 1 </td>
  			<td class="text-center"> ESTP 2 </td>
  		</tr>
  		<tr>
  			<td class="text-center"> 29 ème édition TIFOSS 2015 </td>
  			<td class="text-center"> NEOMA Reims</td>
  			<td class="text-center"> Mines d'Alès</td>
  			<td class="text-center"> SUPELEC Metz</td>
  		</tr>
  		<tr>
  			<td class="text-center"> 28 ème édition TIFOSS 2014 </td>
  			<td class="text-center"> NEOMA Reims 1 </td>
  			<td class="text-center"> ENSIAME  </td>
  			<td class="text-center"> NEOMA Reims 2 </td>
  		</tr>
  		<tr>
  			<td class="text-center"> 27 ème édition TIFOSS 2013 </td>
  			<td class="text-center"> Université de Trèves <br/>(Universität Trier)</td>
  			<td class="text-center"> ESTP </td>
  			<td class="text-center"> NEOMA Reims  </td>
  		</tr>
  	</tbody>
  </table>
</div> 

<h3> Féminin </h3> <br/>
<div class="table-responsive col-md-12">
  <table class="table table-hover table-bordered ">
  	<thead> 
  		<tr>
  			<th class="text-center">Edition</th>
  			<th class="text-center">Premier </th>
  			<th class="text-center">Deuxième </th>
  			<th class="text-center">Troisième</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="text-center"> 29 ème édition TIFOSS 2015 </td>
  			<td class="text-center"> Science Po Nancy 1</td>
  			<td class="text-center"> Science Po Nancy 2</td>
  			<td class="text-center"> Géol Nancy</td>
  		</tr>
  	</tbody>
  </table>
</div> 
</div>


{% endblock %}