{% extends "informations/base.html" %}
{% load static %}

{% block title %} Partenariats{% endblock %}

{% block header %} 


<h1> <i class="fa fa-handshake-o"></i> Partenariats </h1>
{% endblock %}

{% block content%}
<div class="container">
<div id='contenuPrincipal' class="col-sm-8 col-md-offset-2 text-center">
		<h2> NOS PARTENAIRES </h2>
		<hr/>
            <div class='col-sm-12'>
	        	<center> <img id="imgLogo" src="{% static 'informations/logos/logo_societegenerale.png' %}" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Société générale</b></h3>
        	</div>

</div>
 <div class="col-sm-12">      			
<h2> A Venir </h2> </div>

</div>

{% endblock %}