{% extends "informations/base.html" %}
{% load static %}

{% block title %} Partenariats{% endblock %}

{% block header %} 


<h1> <i class="fa fa-handshake-o"></i> Partenariats </h1>
{% endblock %}

{% block content%}
<div class="container">
<div id='contenuPrincipal' class="col-sm-8 col-md-offset-2 text-center">
		<h2> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i></span>  NOS PARTENAIRES PRIVILÉGIÉS  </h2>
		<hr/>
            <div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/logos/logo_societegenerale.png' %}" width="200"lass='img-responsive'/></center>
	        	<h3 class='text-center'><b>Société générale</b></h3>
	        	<br> <br>
        	</div>
			
        	<div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/logos/logo_decathlon.jpg' %}" width="200" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Décathlon</b></h3>
        	</div>

		<div class='col-sm-12'>
	        	<center> <img id="imgLogo" src="{% static 'informations/logos/logo_centralesupelec.png' %}" width="200" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>CentraleSupélec</b></h3>
	        	<br> <br>
        	</div>
		<hr/>
		<div class='col-sm-12'>
		<h2> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i></span> EN ASSOCIATION AVEC</h2>
			<hr/>
			</div>

        <div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/logos/logo_sono.jpg' %}" width="200" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Sono</b></h3>
	        	<br> <br>
        	</div>

        <div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/logos/logo_supevent.jpeg' %}" width="200" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Supevent</b></h3>
	        	<br> <br>
        	</div>

        <div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/logos/logo_tps.png' %}" width="200" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>TPS</b></h3>
	        	<br> <br>
        	</div>

        <div class='col-sm-6'>
	        	<center> <img id="imgLogo" src="{% static 'informations/logos/logo_clubphoto.png' %}" width="200" class='img-responsive'/></center>
	        	<h3 class='text-center'><b>Club Photo</b></h3>
	        	<br> <br>
        	</div>	






</div>
 <div class="col-sm-12">      			
<h2> A Venir </h2> </div>
</div>

{% endblock %}