{% extends "informations/base.html" %}
{% load static %}

{% block title%} Planning{% endblock %}

{% block header %} 
<h1> <i class="fa fa-table"></i>Planning </h1>
{% endblock %}


{% block content%}
<div class="container">
<h2>
<div class="col-sm-12">
            <a href="{% static 'informations/planning.PNG' %}" class="thumbnail">
                <img src="{% static 'informations/planning.PNG' %}" alt="affiche2017" />
            </a>
</div>

</h2>

<h3> Le Tournoi aura lieu le 9 et 10 Décembre 2017</h3>

</div>
{% endblock %}