{% extends "informations/base.html" %}

{% load static %}
{% block title%} Reglement{% endblock %}

{% block header %}
<h1> QUELQUES POINTS FONDAMENTAUX DU RÈGLEMENT DU TOURNOI</h1>
{% endblock %} 

{% block content %}

<div class="container">
	<h1>RÈGLES GÉNÉRALES </h1> 

	<p>Il n’y a pas de contact en Futsal.
	Les tacles sont interdits dans les duels y compris pour le Gardien De But.
	Un Gardien de But ne peut pas saisir avec les mains une passe bottée volontairement par un coéquipier (sinon CFI pour l’équipe adverse). 
	Le coup d’envoi est déterminé par tirage au sort. Le gagnant choisit son camp. L’autre équipe donne le coup d’envoi. 
	La rentrée de touche s’effectue exclusivement au pied, ballon arrêté sur la ligne. </p>

	<h1>LE HORS JEU </h1> 
	<p>Il n’y a pas de hors-jeu en futsal.</p>

	<h1>LA SÉRIE DES TIRS AU BUT </h1>
	<p>Il est procédé à un tirage au sort. Le vainqueur choisit s’il tire en premier ou second. 
	5 tireurs sont choisis parmi les 10 joueurs figurants sur la feuille de match (donc pas obligatoirement ceux qui ont terminé la rencontre). 
	Si une équipe compte plus de joueurs que l’autre, elle choisira le même nombre de joueurs que l’équipe adverse et sélectionnera ses tireurs parmi ceux-ci. 
	Si suite aux 5 tirs, l’égalité entre les deux équipes demeure, il sera procédé à la mort subite avec l’un puis l’autre tireur restant dans chaque équipe. 
	Si l’égalité demeure lorsque tous les tireurs ont botté, la mort subite continue en conservant l’ordre de passage instauré précédemment. 
	Exemple : l’équipe A compte 6 joueurs et l’équipe B 8 joueurs. L’équipe B retient 6 joueurs parmi ses 8 pour participer à la séance de tirs aux buts. Chaque équipe nomine ses 5 tireurs parmi ses 6 joueurs. Si, suite au passage des 5 tireurs de chaque équipe, le score est toujours à égalité, alors on fait tirer le 6ème joueur de chaque équipe (mort subite). Si le score demeure à égalité, on reprend la série en conservant l’ordre instauré précédemment (toujours en mort subite). Ainsi, les 7ème et 8ème tireurs de l’équipe B ne participent jamais à la séance. </p>
</div>

{% endblock %}
