{% extends "informations/base.html" %}

{% load static %}
{% block title%} Reglement{% endblock %}

{% block header %}
<h1> <i class="fa fa-list-alt" aria-hidden="true"></i> Règlement du tournois</h1>
{% endblock %} 

{% block content %}

<div class="container">
	<h2>LES RÈGLES ESSENTIELLES </h2> 
<ul>
<li><b>5 joueurs dont le gardien + Remplaçants</b></li>
<li>Nombre illimité de remplacements. Remplacement à tout moment de la rencontre depuis la zone délimitée. Le joueur rentrant doit attendre la sortie du joueur remplacé.</li>
<li>Contacts et tacles interdits (sauf pour récupérer un ballon sans adversaire à proximité)</li>
<li>Pas de hors-jeu.</li>
<li>Joueurs adverses à 5 mètres sur coups francs, corners et touches, à 3 mètres sur engagement (et dans
leur moitié de terrain).</li>
<li>4 secondes pour jouer le ballon (touche, corner, coup franc, remise en jeu par le gardien).</li>
<li>Le ballon doit être immobile sur la ligne pour une touche ou dans un espace de 25 cm à l’extérieur du terrain, dans le quart de cercle sur corner et à l’endroit de la faute sur coup franc. Sur une rentrée de touche, les pieds sont à l’extérieur du terrain ou seul un pied peut être positionné sur la ligne de touche. </li>
</ul>

<br/>

<h2> FAUTES </h2>

<ul>
<li>Comptabilisation des fautes collectives.</li>
<li>Coup de pied de pénalité à 10 mètres à la 4 ème faute collective (idem pour les fautes suivantes) pour un temps de jeu de 12 à 15’ ; 5 ème faute de 16 à 20’; 6 ème faute de 21 à 30’. Le coup de pied de pénalité peut être exécuté à l’endroit de la faute s’il est avantageux (faute commise entre une ligne imaginaire des 10 m et la ligne de but, hors surface de réparation) </li>
<li>Remise à zéro des fautes lors de la 2 ème mi-temps.</li>
<li>Coup franc direct : excès de combativité (coup de pied, croche-pied, charge de l’épaule, bousculer...)</li>
<li>Coup franc indirect : le gardien prend le ballon à la main sur une passe volontaire d’un partenaire, distances (3-5m) ou temps spécifique (4 secondes) non respectés, jouer de manière dangereuse devant un adversaire...</li>
<li>Le coup franc indirect doit être exécuté à l’endroit de la faute sauf dans la surface de réparation où il sera exécuté depuis la ligne de réparation, au point le plus proche de la faute commise. </li>
</ul>

<h2>LE GARDIEN </h2>
<ul>
<li>Il ne peut se saisir du ballon à la main sur une passe (au pied) volontaire d’un partenaire.</li>
<li>Il ne peut réceptionner le ballon au pied une seconde fois sur une passe volontaire d’un partenaire si le ballon n’a pas été touché par un adversaire ou s’il n’est pas sorti du terrain.</li>
<li>l ne peut garder le ballon plus de 4 secondes sauf dans la moitié de terrain de l’équipe adverse. (Un coup franc indirect est accordé pour ces trois infractions) </li>
<li>Il doit remettre le ballon en jeu à la main(dégagement). </li>
</ul>

<h2> COUP DE PIED DE REPARATION (PENALTY à 6m) </h2>

<ul>
<li>Un coup de pied de réparation (pénalty à 6m) est infligé à l’équipe qui, dans sa propre surface de
réparation (zone des 6 mètres) et lorsque le ballon est en jeu, commet l’une des infractions pour lesquelles un coup franc direct doit être accordé.</li>
</ul>

<br/> <br/>
<p> Les règles sont repris du Règlement Simplifié Universitaire de FUTSAL pour le championnat d'Académie de Picardie Amiens. </p>
	
</div>

{% endblock %}
