{% extends "informations/base.html" %}
{% load static %}

{% block title%} Tarifs{% endblock %}

{% block header %} 

<h1> <i class="fa fa-info-circle" aria-hidden="true"></i> Tarifs
</h1>

{% endblock %}

{% block content%}

<div class="container">
<h3> Tarifs </h3>
<div class="table-responsive col-md-12">
  <table class="table table-hover table-bordered ">
  	<thead> 
  		<tr>
  			<th class="text-center col-md-8">Formule</th>
  			<th class="text-center col-md-4">Prix</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="text-center"> Tournoi </td>
  			<td class="text-center"> 10€</td>
  		</tr>
  		<tr>
  			<td class="text-center"> Repas (Samedi midi + Samedi soir + Dimanche matin + Dimanche midi)</td>
  			<td class="text-center"> 5€</td>
  		</tr>
  		<tr>
  			<td class="text-center"> Hébergement</td>
  			<td class="text-center"> 5€</td>
  		</tr>
  		<tr>
  			<td class="text-center"> Soirée </td>
  			<td class="text-center"> 3€</td>
  		</tr>
  	</tbody>
  </table>
</div> 
<p>
<br/>
<h3>Logement</h3> 

Pour ceux qui ne souhaiteraient pas dormir dans les structures prévues par le BDS (Gymnases environnants), plusieurs hôtels sont situés à côté du campus. Quelques exemples : 
<ul>
<li>Hôtel Campanile Metz Technopôle, 2 Boulevard Solidarité, 57070 Metz Technopole (5 minutes à pied)</li>
<li>Hôtel Ibis Budget Metz Technopôle, ZAC de Sébastopol, 3 Rue des Dinandiers, 57000 Metz (15 minutes à pied)</li>
<li>Hôtel Première Classe, La Grange aux Bois, Rue de Courcelles, 57070 Metz (7 minutes en voiture)</li>
</p>
</div>
{% endblock %}