<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
    div.centre {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px; /* Cette valeur doit être la moitié négative de la valeur du height */
    }
    </style>


    <title>Connexion</title>
	<!-- Bootstrap Core CSS -->
    <link href="../../../static/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../../../static/bootstrap/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../../static/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% if success %}
	{% if error %}

	<h1>Vous n'avez pas encore de compte utilisateur?</h1>
	<p><a href="{% url 'inscription' %}"> Inscrivez-vous</a></p>
	<p><a href="{% url 'connexion' %}">Reessayez</a></p>

	{% endif %}
	{% if user.is_authenticated %}
	<h1>Bonjour {{user.username}} !</h1>
	<p><a href="{% url 'accesCompte' user.id %}">
		Accéder à mon compte
		</a>
	</p>

	{% endif %}

{% else %}
<div class="centre">
    <div class="col-lg-12">
        <form action=""{% url "connexion" %}"" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Se connecter" class="btn btn-success btn-lg"/>
        </form>
        </div>
        </div>

{% endif %}
<!-- jQuery -->
    <script src="../../../static/bootstrap/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../static/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../../../static/bootstrap/js/jqBootstrapValidation.js"></script>
    <script src="../../../static/bootstrap/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../../../static/bootstrap/js/freelancer.min.js"></script>

</body>
</html>


